html,
body{
    height: 100%;
    width:100%;
    margin: 0;
    overflow-x:hidden;
}

footer{
background-color: black;
color: white;
padding:50px;
font-size: small;}

img{
width: 100%;
}



@media (max-width: 768px) {

    .myIframe {
        position: relative;
        padding-bottom: 65.25%;
        padding-top: 30px;
        height: 0;
        overflow: auto; 
        -webkit-overflow-scrolling:touch;  
        border: solid black 1px;
    } 
    .myIframe iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

      /*left div footer*/
      .small_left {

        width: 50%;
        padding: 0px;
        float: left;
       
        
      }

}